@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    background: url('../images/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.titlebar {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	font-size: 22px;
    margin: auto;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
	height: 18vh;
	width: 18vh;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%, 100% { transform: translate(0, 0px); }
    50%     { transform: translate(0, 5px); }
}

.menubar {
    font-size: 18px;
}

.projectbox {
    background-color: rgba(21, 21, 21, 0.4);
    color: white;
    text-align: center;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 45px;
    width: 25%;
}

.container {
    background-color: rgba(21, 21, 21, 0);
    font-family: 'Montserrat', sans-serif;
    padding: 2% 0 1%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color:rgba(21, 21, 21, 0.4);
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.menubar{
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5vh;
}

.menubar a, .titlebar a, .projectbox a {
    text-decoration: none; 
    color: white;
}

a:hover {
    color: #c9c9c9;
}

.ib {
    text-decoration: none;
	display: block;
}

.ib:hover{
	cursor: pointer;
}

@media (min-width: 350px) and (max-width: 400px) {.titlebar{font-size: 18px;}}
@media (min-width: 150px) and (max-width: 349px) {.titlebar{font-size: 14px;}}

@media (max-width: 1800px) {
    .titlebar {
        width: 50%;
    }
}

.button-contact{
    background-color: rgba(21, 21, 21, 0.2);
    color: white;
    padding: 20px;
}

.button-contact:hover{
    cursor: pointer;
}